[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "third_party/HighFive"]
	path = third_party/HighFive
	url = https://github.com/BlueBrain/HighFive.git
[submodule "third_party/RansacLib"]
	path = third_party/RansacLib
	url = https://github.com/rpautrat/RansacLib.git
[submodule "third_party/DeepLSD"]
	path = third_party/DeepLSD
	url = https://github.com/cvg/DeepLSD
[submodule "third_party/GlueStick"]
	path = third_party/GlueStick
	url = https://github.com/cvg/GlueStick
