build
setuptools
Pillow
numpy
scipy
matplotlib
seaborn
brewer2mpl
scikit-build
scikit-image
opencv-python
opencv-contrib-python
omegaconf
scipy
pyyaml
tqdm
attrdict
torch>=1.12
torchvision>=0.13
tensorboard
future
h5py
tqdm
kornia>=0.6
shapely
attrdict
jupyter
cython
flow_vis

-e git+https://github.com/iago-suarez/pytlsd.git#egg=pytlsd
-e git+https://github.com/cvg/DeepLSD.git#egg=deeplsd
-e git+https://github.com/cvg/GlueStick.git#egg=gluestick
